@import "fontawesome-free-5.15.1-web/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Redressed&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;

}

html, body{
    width: 100%;
    height: 100%;
    font-family: helvetica, arial;
}


.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    background: #dde2db;
    color: rgb(70, 68, 68);
}

.header{
    background: #c095d1;
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 5px;
    color: white;
}

.mobile_menu{
    display: none;
}


nav> ul>li{
    display: inline;
    padding:10px ;
    background: #202b20;
    opacity: 0.5;
    margin: 3px;
    border-radius: 4px;
}

nav{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    padding: 10px;
}


nav>ul{
    grid-column: 2;
    margin-left: 60%;
    padding: 10px;

}

.logo{
    padding: 10px;
}

.main{

    grid-column: 1/4 ;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.user{
    grid-row: 1;
    grid-column: 2;
    padding: 10px;
}



.user{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 100px;
}

.user>img{
    border-radius: 100%;
    grid-column: 1;
    margin: 0 auto;
    width: 100px;
}

.about{
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
    padding: 5px;
}

.projects{
    grid-row: 3;
    grid-column: 2;
    margin: 0 auto;
    height: 50px;
}

.title {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}
.hello{
    grid-row: 5;
    grid-column: 2;
}

.projects > ul>li{
    display: inline;
    list-style: none;
    padding: 10px;

}


.projects > ul {
    padding-top: 10px;
    padding-bottom: 10px;
}
.social{
    grid-row: 4;
    grid-column: 2;
    margin: 0 auto;
    padding: 10px;
}

footer{
    background: #9852AD;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 10/11;
    
}

footer > div{
    margin: 0 auto;
    padding: 10px;
}

@media only screen 
and  (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    nav>ul{
        display: none;
    }
    .mobile_logo{
        /* background: white; */
        padding: 20px;
        margin:  auto;
        font-size: 50px;
    }

    .logo{
        display: none;
    }
    .main{
        display: grid; 
        grid-template-columns: 1fr;
        /* background: red; */
        grid-row: 3/7;
        margin: 0 auto;
    }

    .user>img{
       width: 300px; 
       padding-bottom: 50px;
    }
    .about{
        padding-bottom: 50px;
        font-size: 35px;
    }
    .projects{
        font-size: 40px;
        padding-bottom: 50px;
    }

    .social{
        font-size: 35px;
    }

    .title{
        font-size: 40px;
    }

    .mobile_menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile_menu>ul{
        display: none
    }

    .header{
        background: #c095d1;
    }

    .toggle{
        grid-column: min-content;
        background: #745080;
        text-align: right;
        padding: 50px;
        opacity: 0.9;
    }

    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-size: 40px;
    }

    footer > div{
        box-shadow: 10px 0px 0px orange;
        border: 1px red;
        background: rgb(19, 18, 18);
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 10px auto;
        opacity: .5;
        
        
    }



    


}

@media only screen 
and  (min-device-width: 480px) 
and (max-device-width: 720px)
and (-webkit-min-device-pixel-ratio: 2) {
    nav>ul{
        display: none;
    }
    .mobile_logo{
        /* background: white; */
        padding: 20px;
        margin:  auto;
        font-size: 50px;
    }

    .logo{
        display: none;
    }
    .main{
        display: grid; 
        grid-template-columns: 1fr;
        /* background: red; */
        grid-row: 2/7;
        margin: 0 auto;
    }

    .user>img{
       width: 300px; 
       padding-bottom: 50px;
    }
    .about{
        padding-bottom: 50px;
        font-size: 35px;
    }
    .projects{
        font-size: 40px;
        padding-bottom: 50px;
    }

    .social{
        font-size: 35px;
    }

    .title{
        font-size: 40px;
    }

    .mobile_menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile_menu>ul{
        display: none
    }

    .header{
        background: #c095d1;
    }

    .toggle{
        grid-column: min-content;
        background: #745080;
        text-align: right;
        padding: 50px;
        opacity: 0.9;
    }

    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-size: 40px;
    }

    footer > div{
        box-shadow: 10px 0px 0px orange;
        border: 1px red;
        background: rgb(19, 18, 18);
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 10px auto;
        opacity: .5;
        
    }

}




